@charset "utf-8";
/* CSS Document */

html {
    position: relative;
    min-height: 95%;
}

body {
    background: url(background.jpg) center center / cover no-repeat fixed;
    padding: 0;
    margin: 0 0 30px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.navbar {
    min-height:30px !important;
}

.navbar-brand {
    height: 30px;
    background-color: #2654ca;
    border-radius: 5px;
    padding-top:5px !important;
    padding-bottom:0 !important;
    border: 1px solid #0A1635;
}

a {
    color: #ffffff !important;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) !important;
    margin: 5px !important;
    font-size: 1.25em !important;
}

a:hover {
    background-color: #ffffff;
    color: #2654ca !important;
    border: 1px solid #0A1635;
}

#titleFont, #temperature, #weatherToday, #forecast, #cityLoc, #mapholder {
    background-color: #2654ca;
    padding: 10px;
    border: 1px solid #0A1635;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#titleFont {
    font-size: 2.6em;
    margin: 0 auto 10px;
    border-radius: 8px;
}

.weather {
    margin: 0 auto;
    text-align: center;
}

#cityLoc {
    font-size: 40px;
    border-radius: 8px;
    margin-top: 20px;
}

#temperature, #weatherToday {
    font-size: 30px;
    font-weight: 300;
}

#temperature {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#weatherToday {
    margin-top: -65px;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#forecast {
    font-size: 20px;
    margin-top: 30px;
    border-radius: 8px;
}

#forecast h2 {
    text-decoration: underline;
    margin-bottom: 15px;
}

#forecast p:last-child{
    margin-bottom: 15px;
}

#mapholder {
    font-size: 20px;
    border-radius: 8px;
    margin: 30px auto 0;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding-top: 30px;
}

@media screen and (max-width: 990px) {
    #titleFont {
        margin-bottom: 30px;
    }
    #temperature {
        border-radius: 8px;
    }
    #cityLoc {
        margin: 10px auto;
    }
    #weatherToday {
        margin-top: 0;
        border: 1px solid #0A1635;
        border-radius: 8px;
    }
}

@media screen and (max-width: 480px) {
    #titleFont, #temperature, #weatherToday, #forecast, #cityLoc, #mapholder {
        width: 260px;
    }
    #titleFont {
        font-size: 2em;
    }
    #cityLoc {
        font-size: 20px;
    }
    #temperature, #weatherToday, #sameFont {
        font-size: 15px;
    }
    #forecast, #mapholder {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    #titleFont, #temperature, #weatherToday, #forecast, #cityLoc, #mapholder {
        width: 230px;
    }
}
