@charset "utf-8";
/* CSS Document */

html {
    position: relative;
    min-height: 95%;
}

body {
    background: linear-gradient(#3aab7e, #ffffff);
    padding: 0;
    margin: 0 0 30px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

}

/* Home Link */
nav.navbar {
    min-height: 30px;
}

a.navbar-brand {
    height: 30px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 5px;
    font-size: 1.25em;
}

a.navbar-brand:hover,
a.navbar-brand:focus {
    text-decoration: underline;
    border: 1px solid #d0dde5;
    color: #3e4244;
    outline: none;
}

.titleFont, #temperature, #forecast,
#weatherToday, #mapholder {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.colorSet {
    background-color: #d7eee5;
    border: 1px solid #c1d6ce;
    color: #3e4244;
}

/* Weather App Title */
.titleFont {
    font-size: 2.6em;
    margin: 0 auto 10px;
    border-radius: 8px;
}

.weather {
    margin: 0 auto;
    text-align: center;
}

#weatherToday, #temperature {
    font-size: 25px;
    border-radius: 8px;
    margin-top: 20px;
}

#forecast {
    font-size: 20px;
    margin-top: 30px;
    border-radius: 8px;
}

#forecast h2 {
    margin-bottom: 15px;
}

#forecast p:last-child{
    margin-bottom: 15px;
}

#mapholder {
    font-size: 20px;
    border-radius: 8px;
    margin: 30px auto 0;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding-top: 30px;
}

@media screen and (max-width: 992px) {
    /* Weather App Title */
    .titleFont {
        margin-top: 0;
        margin-bottom: 10px;
    }
    #temperature, #weatherToday,
    #forecast {
        margin: 20px auto;
    }
}

@media screen and (max-width: 480px) {
    .titleFont, #temperature, #forecast,
    #weatherToday, #mapholder {
        width: 260px;
    }
    /* Weather App Title */
    .titleFont {
        font-size: 2em;
    }

    #temperature, #weatherToday, #sameFont {
        font-size: 12px;
    }
    #forecast, #mapholder {
        font-size: 10px;
    }
}

@media screen and (max-width: 350px) {
    .titleFont, #temperature,
    #forecast, #weatherToday, #mapholder {
        width: 230px;
    }
}
